<!DOCTYPE html>
<html>
<head>
  <title>IFRE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "custom",      :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "swfobject" %>
  <script type="text/javascript">
  swfobject.embedSWF( 'ifre.swf', 'itsfree', '100%', '100%', '9.0.0', 'expressInstall.swf',{loop:(window.location.href.indexOf('loop')>-1)?'1':'0'},{wmode: 'transparent'});
  </script>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

</head>
<body>

<%= yield %>

</body>
</html>
